<div class='background'>
  <h1 style='margin-left: 150px; top:10px; position: relative;'>
   编辑
  </h1>
<%= render 'form' %>
</div>

<style>
.background{
  margin: 0 auto;
  background-color: snow;
  opacity: 0.8;
  border-radius: 10px;
}
</style>
